<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a> 
    <div class="me-auto">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/trade">Trade</a>
        <a class="nav-link active" href="/stocks">Stocks</a>
        <a class="nav-link active" href="/crypto">Crypto</a>
        <a class="nav-link active" href="/transactions">Transactions</a>
        <a class="nav-link active" href="/statistics">Statistics</a>
      </div>
    </div>
    <div class="navDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{currUser.username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/user">Profile</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
 </div>
</nav>

<div class="col-lg-3 stockSearch">
  <form class="d-flex">
        <input class="form-control" type="search" placeholder="Stock Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<table class="table align-middle mb-0 bg-white">
  <thead>
    <tr>
      <th>Crypto Code</th>
      <th>Crypto Name</th>
      <th>Current Price</th>
      <th>Number of Shares</th>
      <th>Market Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1">BTC</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">Bitcoin</p>
      </td>
      <td>30</td>
      <td>40</td>
      <td>600</td>
    </tr>
  </tbody>
</table>