<main>
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
                The best app <br />
                <span class="text-primary">for your wealth</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                quibusdam tempora at cupiditate quis eum maiores libero
                veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
            </div>

            <div class="col-lg-5 mb-5 mb-lg-0">
            <div class="card">
                <div class="card-body py-5 px-md-5">
                <form id="login-form" action="/login" method="POST">
                    <!-- Username input -->
                    <div class="form-outline mb-2">
                    <input type="text" id="inputUsername" class="form-control" />
                    <label class="form-label" for="inputUsername">Username</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-2 cover-group">
                        <input type="password" id="password" name="password" class="form-control">
                        <i class="bi bi-eye-slash" id="togglePassword"></i>
                        <label class="form-label" for="password">Password</label>  
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-block mb-2 logInBtn">
                    Log In
                    </button>

                    <div class="_1rf5">
                        <span class="_1rf8">or</span>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-block mb-2 signUpBtn">
                    Create new account
                    </button>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
  
    <script>
        let togglePassword = document.getElementById('togglePassword');
        let password = document.querySelector('#password');
  
        togglePassword.addEventListener('click', () => {
            // Toggle the type attribute using getAttribure() method
            const type = password
                .getAttribute('type') === 'password' ?
                'text' : 'password';
                  
            password.setAttribute('type', type);
     
            // Toggle the eye and bi-eye icon
            togglePassword.classList.toggle('bi-eye');
        });
    </script>
</main>