<main>
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
                The best app <br />
                <span class="text-primary">for your wealth</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
                WebInvest is a powerful tool for all investors, seasoned or fledgling. Log in or sign up to start investing, get access to the latest news about stocks, and see statistical displays of your assets.
            </p>
            </div>

            <div class="col-lg-5 mb-5 mb-lg-0">
            <div class="card">
                <div class="card-body py-5 px-md-5">
                <form id="signup-form" method="POST" action="/signup">
                    <!-- Username input -->
                    <div class="form-outline mb-2">
                        <input type="text" id="inputUsername" class="form-control" name="username"/>
                        <label class="form-label" for="inputUsername">Username</label>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-2">
                        <input type="email" id="inputEmail" class="form-control" name="email"/>
                        <label class="form-label" for="inputEmail">Email address</label>
                    </div>

                    <!-- Gender input -->
                    <div class="form-outline mb-2">
                        <select id="inputGender" class="form-select" name="gender">
                        <option selected>Female</option>
                        <option>Male</option>
                        <option>Others</option>
                        </select>
                        <label for="inputGender" class="form-label">Gender</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-2 cover-group">
                        <input type="password" id="password" name="password" class="form-control">
                        <i class="bi bi-eye-slash" id="togglePassword"></i>
                        <label class="form-label" for="password">Password</label>  
                    </div>

                    {{#each errors}}
                    <div>{{this}}</div>
                    {{/each}}

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-block signUpBtn">
                    Sign up
                    </button>

                    <p>Already have an account? Click<a href="/login"> here </a> to login. </p>

                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
  
    <script src="../public/js/togglePassword.js"></script>
</main>
